.accordion-item {
    border: 1px solid #020;
}

.accordion-button:focus {
    box-shadow: none;

}

.main {
    width: 70%;
    margin: 0 auto;
    background-color: hsl(252, 19%, 41%);
}

.navbar-brand {
    color: #fff;
    padding-left: 1rem;
}

.main nav ul li a {
    color: #fff;
}

.container {
    height: 400px;
    overflow-y:scroll ;

}

.main nav ul li a:hover{
    background-color:rgba(15, 22, 229,0.2) ;
    color: #fff;
}